* {
   border: 1px solid rgba(0, 0, 0, 0.3);
   margin: 0;
   padding: 0;
}
body {
   background-color: cornsilk;
}
p {
   font-family: arial;
   padding-left: 100px;
}
h1 {
   font-family: Impact;
   color: Crimson;
   font-size: 80px;
   padding-left: 100px;
}
h2 {
   font-family: "Arial Black";
   padding-left: 100px;    
}   

ul {
   padding: 30px;
}
 .profile {
   font-style: italic;
   font-size: 25px;
   width: 900px;
   padding-left: 200px;
   padding-top: 25px;
}
.personal {
   width: 400px;
   margin: left;
}
.kane {
   font-weight: bold;
}
.twin {
   font-weight: bold;
}
.jb {
   font-weight: bold;
}
.melton {
   font-weight: bold;
}
.england {
   font-weight: bold;
}
.cci {
   font-weight: bold;
}
.afni {
   font-weight: bold;
}
.walmart {
   font-weight: bold;
}
.mcdonalds {
   font-weight: bold;
}
h3 {
   font-family: "Arial Black";
   padding-left: 100px;
}
.pima {
   font-weight: bold;
}
.sahuarita {
   font-weight: bold;
}
.park {
   font-weight: bold;
}
