body {
   color: cornsilk;
}
h1 {
   font-family: Impact;
   color: Crimson;
   font-size: 80px;
}
.personal {
   text-align: left;
}
.kane {
   font-weight: bold;
}
.twin {
   font-weight: bold;
}
.jb {
   font-weight: bold;
}
.melton {
   font-weight: bold;
}
.england {
   font-weight: bold;
}
.cci {
   font-weight: bold;
}
.afni {
   font-weight: bold;
}
.walmart {
   font-weight: bold;
}
.mcdonalds {
   font-weight: bold;
}
